<ion-content class="swiper-no-swiping">
  <div class="container top" [hidden]="keyboard.isVisible">

  </div>

  <ion-slides>


    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Create Profile</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nama Depan" [(ngModel)]="user.fname"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nama Belakang" [(ngModel)]="user.lname"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Alamat" [(ngModel)]="user.alamat"></ion-input>
        </ion-item>




        <ion-button class="ion-margin-top" (click)="saveUser()" color="light" expand="block">
          Create Profile
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="ocean">
    <div class="waves" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>

    <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible">

    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>

      <span>Selamat Datang di Aplikasi Karang Taruna Yodha Dharma</span>
    </div>
  </div>
</ion-content>
