<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kas KTYD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="!kass || kass.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of kass">
      <ion-item  button [routerLink]="['/addkas', item.id]">
        <ion-label>
        <h2>  {{ item.debit }} </h2>
        <h2>  {{ item.kredit }} </h2>
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Delete
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addkas" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
