<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info KTYD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="!infos || infos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of infos">
      <ion-item  button [routerLink]="['/addinfo', item.id]">
        <ion-card class="container">
        <ion-card-header>
        <ion-card-title>   {{ item.judul }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <h2>  {{ item.isiberita }} </h2>
          <p>{{ item.createdAt | date:'short' }}</p>
        </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Delete
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button >
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="secondary" routerLink="/addinfo" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
          <ion-icon name="md-help" (click)="presentToast()"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
  </ion-fab>
</ion-content>
