<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/kas"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Kas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="debit" [(ngModel)]="kas.debit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="kredit" [(ngModel)]="kas.kredit"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="total" [(ngModel)]="kas.total"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveKas()">Save</ion-button>
</ion-content>
