<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Jabatan" [(ngModel)]="user.jabatan"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveUser()">Save</ion-button>
</ion-content>
