<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/info"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Judul" [(ngModel)]="info.judul"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="Berita" [(ngModel)]="info.isiberita"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveInfo()">Save</ion-button>
</ion-content>
